@font-face {
    font-family: 'Nintendo-DS-BIOS';
    src: url('../src/fonts/Nintendo-DS-BIOS.ttf') format('truetype');
}

@font-face {
    font-family: 'SF-Pixelate';
    src: url('../src/fonts/SF\ Pixelate.ttf') format('truetype');
}

body {
    font-family: 'SF-Pixelate', sans-serif;
    font-size: 15px;
}

Input{
    display: flex;
    width: 506px;
    height: 15px;
    font-family: 'SF-Pixelate', sans-serif;
}

.App-header{
    display: inline-flex;
    padding: 100px 410px 670px 410px;
    flex-direction: column;
    align-items: center;

}

