@font-face {
    font-family: 'Nintendo-DS-BIOS';
    src: url('../src/fonts/Nintendo-DS-BIOS.ttf') format('truetype');
}

@font-face {
    font-family: 'SF-Pixelate';
    src: url('../src/fonts/SF\ Pixelate.ttf') format('truetype');
}

body {
    font-family: 'SF-Pixelate', sans-serif;
    font-size: 15px;
}

Input{
    display: flex;
    width: 506px;
    height: 25px;
    font-family: 'SF-Pixelate', sans-serif;
    text-align: center;
}
button {
    font-family: 'SF-Pixelate', sans-serif;
    display: flex;
    background-color: #7b7b7b;
    border: 2px solid #3a3a3a;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 180px;
    cursor: pointer;
}
.App-header{
    display: inline-flex;
    padding: 113px 410px 439px 410px;
    flex-direction: column;
    align-items: center;
}


